################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/online-course-management-system/FileContentIndex
/src/Identity.Api/bin/Debug/net7.0
/src/Identity.Api/obj
